{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "mocha": true
  },
  "globals": {
    "document": true
  },
  "rules": {
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }],
    "comma-dangle": [
      "error",
      "never"
    ],
    "require-jsdoc": [
      "error",
      {
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": true,
          "ClassDeclaration": true
        }
      }
    ],
    "valid-jsdoc": [
      "error",
      {
        "requireReturnDescription": true,
        "requireParamDescription": true,
        "requireReturnType": true,
        "prefer": {
          "arg": "param",
          "argument": "param",
          "class": "constructor",
          "return": "returns",
          "virtual": "abstract"
        }
      }
    ]
  }
}
