@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/iconFonts/icomoon.eot?8x41o4');
  src:  url('../fonts/iconFonts/icomoon.eot?8x41o4#iefix') format('embedded-opentype'),
    url('../fonts/iconFonts/icomoon.ttf?8x41o4') format('truetype'),
    url('../fonts/iconFonts/icomoon.woff?8x41o4') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e900";
}
.icon-stats-dots:before {
  content: "\e99d";
}
.icon-burger-menu:before {
  content: "\e901";
}
.icon-competitor-unselected:before {
  content: "\e902";
}
.icon-circle-match-error:before {
  content: "\e903";
}
.icon-circle-match-no-match:before {
  content: "\e904";
}
.icon-circle-match-not-matched:before {
  content: "\e905";
}
.icon-circle-match-success:before {
  content: "\e906";
}
.icon-competitor-selected:before {
  content: "\e907";
}
.icon-export-inactive:before {
  content: "\e908";
}
.icon-filters-inactive:before {
  content: "\e909";
}
.icon-forbidden:before {
  content: "\e90a";
}
.icon-green-cross:before {
  content: "\e90b";
}
.icon-info-inactive:before {
  content: "\e90c";
}
.icon-match-error:before {
  content: "\e90e";
}
.icon-match-no-match:before {
  content: "\e90f";
}
.icon-match-not-matched:before {
  content: "\e910";
}
.icon-notification-inactive:before {
  content: "\e911";
}
.icon-order-alphabetical-a-z:before {
  content: "\e912";
}
.icon-order-alphabetical-z-a:before {
  content: "\e913";
}
.icon-plus:before {
  content: "\e914";
}
.icon-red-cross:before {
  content: "\e915";
}
.icon-search-inactive:before {
  content: "\e916";
}
.icon-tick-green .path1:before {
  content: "\e917";
  color: rgb(126, 211, 33);
}
.icon-tick-green .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

